@page
@model ChatRoomTest.Pages.ChatRoomModel
@{
    ViewData["Title"] = "User Dashboard";
    
}




<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">This is a dashboard to chat with another</p>
    <form id="userDefine" method="post">
        <input type="text" placeholder="Enter your name to start chat..."/>
        <button type="submit">Enter</button>
    </form>
</div>

<div id="toBlur" class="container blured">
    <div id="enterNameInfo" >
        <strong>
            Please first your name ...
        </strong>
    </div>
    <div id="chatPanel"  class="row">
        <div class="col-md-4">
            <div id="roomList" class="list-group">
            </div>
        </div>
        <div id="ChatContentPanel" class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <ul id="chatHistory" class="card-body"></ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="chatForm" class="form-inline mt-2">
                        <input id="messageTextbox" type="text" placeholder="Type a message" class="form-control mr-sm-2 flex-grow-1"/>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>